// Colors//

$white: #fff;
$primary-text-color: #333;

$color-primary: blue;
$color-secondary: green;
$color-red: red;
$color-orange: orange;
$color-purple: purple;
$color-light-green: lightgreen;
$color-light-green: darkblue;
$color-light-green: skyblue;
$color-light-green: pink;

// Fonts//

$font-med: 1.3rem;
$font-large: 2rem;

// Breakpoints
$break-p-sm: 480px;
$break-p-lg: 1400px;
